@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}

#root {
  height: 100%;
  width: 100%;
}

.app {
  height: 100%;
  padding: 2rem;

  ul {
    padding-left: 1rem;
  }
}

.list {
  &__header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    cursor: pointer;

    & > div {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 1rem;
    }

    input[type='text'] {
      padding: 0.4rem 0.8rem;
      font-size: large;

      & {
        border-color: transparent;
        background-color: transparent;
        color: inherit;
      }
    }
  }

  &__body {
    padding: 0.5rem 0 0 4rem;

    &.hidden {
      overflow: hidden;
      height: 0px;
    }
  }
}

.flex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

ul {
  li {
    margin-top: 0.5rem;
  }
}
